.star-light {
  background: url(http://www.script-tutorials.com/demos/360/images/twinkling.png)
    top center;
  -moz-animation: dust-move 200s linear infinite;
  -ms-animation: dust-move 200s linear infinite;
  -o-animation: dust-move 200s linear infinite;
  -webkit-animation: dust-move 200s linear infinite;
  animation: dust-move 200s linear infinite;
}
@keyframes dust-move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
.stars {
  background: url(http://www.script-tutorials.com/demos/360/images/stars.png)
    top center #000;
}
.stars,
.star-light {
    position: fixed;
  width: 100%;
  height: 100%;
  display: block;
}
#root{
    position: relative;
}